body {
    font-family: 'poppins';
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #b8bbf3;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(246, 247, 237, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 10px;
}

form input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

form button {
    padding: 8px 12px;
    font-size: 13px;
    background-color: #6759eb;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 3px;
}

li:hover {
    background-color: #ebd6f0;
}

.delete-btn {
    background-color: #f02a1c;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
        box-shadow: none;
    }

    form {
        flex-direction: column;
    }

    form input[type="text"], form button {
        width: 100%;
        margin: 5px 0;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }

    .delete-btn {
        margin-top: 5px;
    }
}

